.contact {
  margin-top: 2rem;
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 3px 10px var(--primary-shadow);
  margin-top: 25px;
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: 700;
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
  resize: none;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}
.input-field::placeholder {
  padding: 0.5rem;
  color: #868e96;
}
.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem;
  border: none;
}

.support-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: var(--bottom-margin);
  padding-bottom: var(--bottom-margin);
}

@media screen and (max-width: 720px) {
  .contact-form-container {
    max-width: 23.75rem;
  }
}

@media screen and (max-width: 420px) {
  .contact-form-container {
    max-width: 17.75rem;
  }
}
